@import '../_variables.scss';

.pagination {
position: relative;
 margin-top: 2px;
 padding-right: 104px;
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 color: #808080;
 font-size: 14px;
 line-height: 21px;

  &__arrow-left {
    @extend %arrow;
    right: 26%;
    top: 50%;
    transform: rotate(-135deg);
  }

  &__arrow-right {
    @extend %arrow;
    left: 94%;
    top: 45%;
    transform: rotate(45deg);
  }

  &__pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    
    &_page-link {
      text-decoration: none;
      color: #808080;
      padding: 5.5px 7px;
      border-radius: 3px;

      &:hover {
        color: #ffff;
        background: $main-blue-color;
        
      }
    }

    // &_page-link:hover

  }
}
